<% include header %>

  <h1><%-title %></h1>
  <p>Welcome to <%- title %></p>


  <div>
    <h1>Calorie listing page</h1>
    <h2>Get the calories and display them. </h2>
    <div>
      <%- meals %>
    </div>
  </div>

<% for(var i=4; i<meals.length; i++) {%>
<div class="list">
  <ul>
    <li><%= meals[i].meal %></li>
   <li><%= meals[i].food %></li>
   <li><%= meals[i].calories %></li>
  </ul>
</div>

<% } %>

<div class="total">
  <h2><%- calories %></h2>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/calDisplay.js" charset="utf-8"></script>
<% include footer %>
